{{ form_start(form) }}
{# {{ form_widget(form) }} #}
<div class="row row-cols-3 align-items-center">
	<div class="col">{{ form_row(form.title) }}</div>
	<div class="col">{{ form_row(form.description) }}</div>
	<div class="col">
		<button class="btn btn-success">Ajouter</button>
	</div>
</div>
<div class="row row-cols-3 align-items-center">
	<div class="col">{{ form_row(form.creator) }}</div>
	<div class="col">{{ form_row(form.imageFile) }}</div>
	<div class="col">
		<button class="btn btn-success">Soumettre</button>
	</div>
</div>
<button class="btn btn-success">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
